<app-header></app-header>
<div class="mainContainer">
    <div class="navigate">
        <div>
        <a routerLink="/landing" routerLinkActive="active" class = "inicio"><span>Inicio</span></a><span class = "personajes"> / Películas</span>
        </div>
        <mat-button-toggle-group name="paginacionPersonajes" aria-label="Paginación de personajes" class="pagination">
            <mat-button-toggle [disabled]="page == 1" (click)="getFilmPage(page-1)">&#60;</mat-button-toggle>
            <mat-button-toggle [checked]="page == i+1" *ngFor="let pagina of contadorPaginas(); let i = index" (click)="getFilmPage(i+1)">{{i+1}}</mat-button-toggle>
            <mat-button-toggle [disabled]="page == 9" (click)="getFilmPage(page+1)">&#62;</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class = "container">
        <mat-card class="tarjeta" *ngFor="let film of listadoFilms">
            <img mat-card-image [src]="getPhotoURL(film)" onerror="this.src='https://starwars-visualguide.com/assets/img/placeholder.jpg'" alt={{film.title}}>
            <mat-card-content>{{film.title}}</mat-card-content>
        </mat-card>
    </div>
</div>
