<app-header class="header"></app-header>
<div class="main">
  <div class="tarjeta">
    <img
      src="https://cdn.pixabay.com/photo/2016/08/29/01/56/millenium-falcon-1627322_960_720.jpg"
      alt=""
    />

  </div>
  <div class="tarjeta">
    <img
      src="https://cdn.pixabay.com/photo/2016/08/29/01/56/millenium-falcon-1627322_960_720.jpg"
      alt=""
    />

  </div>
  <div class="tarjeta">
    <img
      src="https://cdn.pixabay.com/photo/2016/08/29/01/56/millenium-falcon-1627322_960_720.jpg"
      alt=""
    />

  </div>
  <div class="tarjeta">
    <img
      src="https://cdn.pixabay.com/photo/2016/08/29/01/56/millenium-falcon-1627322_960_720.jpg"
      alt=""
    />

  </div>
  <div class="tarjeta">
    <img
      src="https://cdn.pixabay.com/photo/2016/08/29/01/56/millenium-falcon-1627322_960_720.jpg"
      alt=""
    />

  </div>
  <div class="tarjeta">
    <img
      src="https://cdn.pixabay.com/photo/2016/08/29/01/56/millenium-falcon-1627322_960_720.jpg"
      alt=""
    />

  </div>
  <div class="footer"></div>
</div>
